 <div class="bg-main-europe">
          
      </div>


<div class="jumbotron bg-white-inv">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        HOSPEDAJE Y TIEMPO DE VIAJE
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae non, nemo dicta eius velit magnam, minima, aspernatur quas quibusdam architecto, distinctio libero eligendi nesciunt facere ipsam necessitatibus porro sint ducimus!.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 3: TIEMPO DE DURACION DEL VIAJE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quisquam expedita cum necessitatibus tempora inventore molestiae minus. Voluptas vero iure fugiat nihil! Quos ab ex saepe, explicabo quis voluptatibus, qui!.</p>
        </div>
<div class="ui-159">    

            <!-- All -->
            

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#1_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>1 SEMANA</h6>
                                <h6>De 1 a 7 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="1_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>1 DIA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>2 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>3 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>4 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>5 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>6 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>7 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#2_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>2 SEMANAS</h6>
                                <h6>De 8 a 14 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="2_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>8 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>9 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>10 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>11 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>12 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>13 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>14 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#3_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>3 SEMANAS</h6>
                                <h6>De 15 a 21 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="3_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>15 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>16 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>17 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>18 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>19 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>20 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>21 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#4_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>4 SEMANAS</h6>
                                <h6>De 22 a 28 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="4_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>22 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>23 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>24 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>25 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>26 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>27 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>28 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#5_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>5 SEMANAS</h6>
                                <h6>De 29 a 35 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="5_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>29 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>30 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>31 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>32 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>33 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>34 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>35 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#6_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>6 SEMANAS</h6>
                                <h6>De 36 a 42 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="6_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>36 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>37 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>38 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>39 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>40 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>41 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>42 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#7_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>7 SEMANAS</h6>
                                <h6>De 43 a 49 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="7_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>43 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>44 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>45 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>46 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>47 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>48 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>49 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#8_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>8 SEMANAS</h6>
                                <h6>De 50 a 56 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="8_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>50 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>51 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>52 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>53 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>54 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>55 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>56 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#9_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>9 SEMANAS</h6>
                                <h6>De 57 a 63 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="9_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>57 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>58 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>59 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>60 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>61 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>62 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>63 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul_noblidream.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#10_semana" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>10 SEMANA</h6>
                                <h6>De 64 a 70 dias de viaje</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="10_semana">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>64 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>65 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>66 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>67 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>68 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>69 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'azul.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>70 DIAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            <div>
              DATEPICKER VA AQUI
            </div>


    </div>

<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
      	<div>
        
      		<h3>
      			PASO 4: SELECCION DE HOTELES
      		</h3>
      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ut excepturi labore quod saepe alias, dolor deserunt dolore quasi, reprehenderit unde. Quisquam illum aliquam, itaque dolores beatae aperiam eum, vel!.</p>

      	</div>

      	<div>
            
    <div class="ui-315">
      



      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEO VIAJADOR EXPERTO
      		</h3>
      		<p>Visitar TODOS los paises. El sueo para los aventureros, muy pocas personas en la historia han logrado esta hazaa.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i2 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active");
				});

				
			});

		</script>


        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i3 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i3").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i3").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>